{{template "header"}}
<form class="main" action="/qap/addDocument">
   <h3>New Document</h3>
   <label for="Code">Document Codes:</label>
   <input type="text" name="Code" placeholder="SPS-HC12-HP">
   <label for="HumanName">Human Name:</label>
   <input type="text" id="HumanName" name="HumanName" placeholder="Thingy version 2-final-Last.docx">
   <label for="SubmittedBy">Submitted by:</label>
   <input type="text" id="SubmittedBy" name="SubmittedBy" placeholder="Sebastian">
   <label for="FileExtension">File extension:</label>
   <input type="text" id="FileExtension" name="FileExtension" placeholder="i.e: .stl">
   <label for="Location">Electronic repository location:</label>
   <input type="text" id="Location" name="Location" placeholder="i.e: projects/LHC/parts/cad">
   <input type="submit" value="Submit">
</form>



<h7>Documents created less than {{.LastEditedDays}} days ago:</h7>
{{ range $key, $doc := .Docs }}
   <li><strong><a href="{{$doc.URL}}">{{ $doc }}</a>:</strong> Created: {{ $doc.Created.Format "2006 Jan 02 15:04"}} <span style="color:darkblue;">Submitted by: {{$doc.SubmittedBy}}</span> <span style="color:rgb(0, 67, 67)"> Human Name: {{$doc.HumanName}}</span></li>
{{ end }}
<a href="/qap/toCSV"><button>Download Database (CSV)</button></a>
<a href="/qap/downloadDB"><button>Download Database (BBolt database file)</button></a>

<form class="main" action="/qap/createProject">
   <h3>New Project</h3>
   <label for="newcode">CODE:</label>
   <input type="text" name="newcode" placeholder="i.e: LHC">
   <label for="name">Name</label>
   <input type="text" name="name" placeholder="i.e: Large Hadron Collider">
   <label for="desc">Description</label>
   <textarea rows="1" cols="25"  name="desc" placeholder="i.e: Collider for colliding hardrons of the small type. Large facility though"></textarea>
   <input type="submit">
</form>

<form class="main" method="post" enctype="multipart/form-data" action="/qap/importCSV">
   <p>
      <label>Import raw CSV data from file: </label><br/>
      <input type="file" name="ImportCSV"/><input type="submit"/>
  </p>
</form>
{{template "footer"}}
